.elementor-column {
  margin-top: 30px;
  width: 100%;
}

.elementor-column,
.elementor-column-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1px;
}
.elementor-element {
  order: var(--order);
  -ms-flex-item-align: var(--align-self);
  align-self: var(--align-self);
}
.elementor *,
.elementor :after,
.elementor :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.elementor-column {
  padding-left: 15px;
  padding-right: 15px;
}
body {
  color: #666;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
